.jumbotron {
    background-color: #1976D2;
    color: #FFFFFF;
}

.card {
    height: 500px;
    overflow-y: scroll;
}

pre {
    white-space: pre-wrap;
}

.adaptation-span:hover {
    cursor: pointer;
}

.ir-span {
    font-weight: bold;
}