.DS_Store
.idea
.vscode

*.pyc
*.pyo
*.egg
*.egg-info
_mailinglist
.tox
.cache
.pytest_cache
__pycache__
.ipynb_checkpoints/

venv
env
env*
.env
.flaskenv
dist
build
docs/_build

htmlcov/
.coverage
.coverage.*
*,cover

document_adaptation/summarization/checkpoint/*
document_adaptation/summarization/temp/*
visualizer_logs/*

sister_cache