.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
../.idea/
docs/_build/

__pycache__
.vscode
venv/
*.pyc
*.pyd
*.pyo
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
document_adaptation/summarization/checkpoint/*
document_adaptation/summarization/temp/*
visualizer_logs/*
