flask
sklearn
numpy
matplotlib
textstat
sentence-transformers
bpemb
scipy
gensim
nltk
rake-nltk
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-2.2.0/it_core_news_sm-2.2.0.tar.gz#egg=it_core_news_sm
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-2.2.0/es_core_news_sm-2.2.0.tar.gz#egg=es_core_news_sm
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-2.2.0/de_core_news_sm-2.2.0.tar.gz#egg=de_core_news_sm
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-2.2.0/fr_core_news_sm-2.2.0.tar.gz#egg=fr_core_news_sm
https://github.com/explosion/spacy-models/releases/download/xx_ent_wiki_sm-2.2.0/xx_ent_wiki_sm-2.2.0.tar.gz#egg=xx_ent_wiki_sm
